* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 6rem;
    background-color: #E8DFCA;
}

body{
    background-color: #AEBDCA;
}

.contenido-general{
    display: flex;
    justify-content: space-between ;
    flex-direction: row-reverse;
    
}

button{
    border-radius: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#button-edit{
    border-radius: 10px;
        height: 3rem;
        width: 3rem;
}

.abrir-menu,
.cerrar-menu {
    display: block;
}

.titulo{
    align-items: center;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #E8DFCA;
    padding: 2rem;
    z-index: 1;
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #AEBDCA;
}

/*Footer*/

.footer {
    background-color: #E8DFCA;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10.3vh;
    bottom: 0;
    width: 100%;
}

.informacion{
    display: flex;
    flex-direction: column;
}
.copyright {
    font-size: 14px;
    margin-top: 15px;
}

/*Vista de Turno*/

.caja-principal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #AEBDCA;
}


.content{
    display: flex;
}

.title{
    padding: 20px;
}

ul {
    list-style: none;
}

.boxlist{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 0.5rem;
    font-size: 3rem;
    margin: 5px 5px 10px 10px;
    height: 6.5rem;
    width: 44rem;
    list-style-type: none;
    color: aliceblue;
    background-color: #7895B2;
}


.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    display: flex;
    height: 43rem;
    flex-grow: 1;
    max-width: 100%;
}

.image-container .hora {
    position: absolute;
    bottom: 0;
    left: 0;
    color: aliceblue;
    padding: 1.5rem;
    font-size: 1rem;
}

.horario{
    font-size: 3rem;
}

.temperatura{
    font-size: 1.5rem;
}

.tiempo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p{
    margin-right: 1rem;
}

/*Vista de Crear*/

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 43rem;
    background-color: #AEBDCA;
}

.img img{
   display:flex ;
   height: 43rem;
}

label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    height: 7rem;
    width: 26rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]{
    position: absolute;    
}

input[type="radio"]:checked+label {
    background-color: #7895B2;
    color: #fff;
}

.button-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: 5rem;
    width: 6rem;
}

/*Vista de Editar*/

.view-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    height: 43rem;
}

.campos{
    height: 5rem;
    width: 10rem;
    border-radius: 4px;
    font-size: 2rem;
}

.buttom-group{
    height: 3rem;
    width: 3rem;
}


/*Vista de Admin*/
.general-content{
    display: flex;
    flex-direction: row-reverse;
}

.dashboard{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.estadisticas {
    height:35rem;
    width: 85rem;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
}

.box-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 43rem;
    background-color: #AEBDCA;
}

.boxlist-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 5px;
    height: 5rem;
    width: 18rem;
    list-style-type: none;
    color: aliceblue;
    background-color: #7895B2;
}

/*404*/

.not-found{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #7895B2; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-not-found{
color: #F5EFE6;
font-size: 20rem;
-webkit-text-stroke: 3px rgb(0, 0, 0);
}

.subtitle-not-found {
    color: #F5EFE6;
    font-size: 3rem;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.buttom-not-found{
height: 3rem;
width: 3rem;
}