.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.boxlist {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
}

.box {
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
}

.item {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  height: 40px;
  margin-right: 8%;
  text-align: center;
  margin-top: 5px;
}

ul {
    list-style: none;
}

.form {
    background: #4e4d4d;
}

.button-edit {
    width: 50%;
    text-align: center;
    margin-left: 23%;
    border-radius: 10px;
}

.list-group-item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 40px;
    margin-right: 8%;
    text-align: center;
    margin-top: 5px;
}
.container-fluid-home{
    width: 50px;
    height: 50px;
    position: absolute;
    left:18%;
   
  }
  .col{
    position: absolute;
    bottom:15px;
    left:-525px;
  }
  .turnos-atendidos{
    background-color: gainsboro;
    width: 290px;
    height: 600px;
    float: left;
    
  }
  .turno1{
    align-items: center;
    justify-content:space-around;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .card-text{
    min-height: 150px;
    text-align: center;
    font-size: 95px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #838383;
    font-weight:bold
    
  }
  
  
  p{
  
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
    font-size: 150px;
    font-family: arial;
    padding-top: 50px;
   
  }


@media screen and (min-width: 768px) {

    .list-group-item {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        height: 40px;
        margin-right: 6%;
        text-align: center;
        margin-top: 5px;
    }

    .boxlist {
        border: 1px solid black;
        border-radius: 10px;
        width: 60%;

    }
}

@media (min-width: 1024px) {
    .list-group-item {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        height: 40px;
        margin-right: 6%;
        text-align: center;
        margin-top: 5px;
    }

    .boxlist {
        border: 1px solid black;
        border-radius: 10px;
        width: 30%;

    }
}