<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Dashboard</title>
     <%- include('./partials/header.ejs')%>
</head>

<body>

   <div class="contenido-general">

    

<div class="dashboard">

    <h1>Dashboard</h1>

</div>

    <div>
 
   <div class="box-principal">

    <h1>Lista de Turnos</h1>

    <% for( let i = 0; i < 7; i++) { %>
                    <ul class="boxlist-admin">                    
                            <li class=""><%= caja[i].code %> - Caja <%= caja[i].box %>
                            </li>     
                             <a href="turnos_edit/<%= caja[i].id %> ">
                                    <button id="button-edit">Llamar</button>
                                </a>                                                                        
                    </ul>        
                                 
                <% } %>
                
   </div> 

   </div>
   
   </div>

 <footer>
<h1></h1>
</footer>

<script src="/js/turnoValidation.js"></script>
</body>
</html>