<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos-DH</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <%- include('./partials/header.ejs')%>
    <div class="turnos-atendidos">
      <p class="turno1" style="padding: 5px;color: black;">TURNOS
        <br> ATENDIDOS
      </p>
      <ul class="list-group">
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B12 - Caja 1; </li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B11 - Caja 2</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B10 - Caja 3</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B09 - Caja 1</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B09 - Caja 2</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B08 - Caja 3</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B07 - Caja 2</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold">B06 - Caja 1</li>
      </ul>


    </div>

    <div class="turnos-siguientes">
      <p class="turno2" style="padding: 5px;color: black;">TURNOS
        <br> SIGUIENTES
      </p>
      <ul class="list-group">
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px;">B55 - Caja 2; </li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B56 - Caja 3</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B57 - Caja 1</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B58 - Caja 2</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B59 - Caja 3</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B60 - Caja 1</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B61 - Caja 2</li>
        <li class="list-group-item" style="color:red;font-size: 20px; font-weight:bold;right: -26px">B62 - Caja 3</li>
      </ul>


    </div>
    <div class="container-fluid-home">
      <div class="card rounded shadow border border-3" style="width: 55rem;height: 45rem;background:#B9B8B8;">

        <div class="card-text">
          TURNO ACTUAL
          <div class="turno">
            B54 - Caja 1
          </div>
        </div>


        <div class="col">
          <div class="card rounded shadow border border-3"
            style="width: 120rem;height: 10rem; background: red;font-weight:bolder;">
            <figure class="text-center">

              <p>LLAMAR PRÓXIMO TURNO</p>

            </figure>
          </div>




          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>