<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos-DH</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <%- include('./partials/header.ejs')%>
  <div class="container-fluid" style="background-color:cadetblue;overflow-wrap: break-word">
  <p class="text-center">B54 - Caja 1</p>
  </div>

  <div class="container-fluid" style="background-color: gray">
  <ul class="list-group d-grid gap-3">
    <li class="list-group-item text-wrap" style="font-size: 20px; font-weight:bold;right: -26px;height: 4rem;margin-top: 20px">B53 - Caja 2</li>
    <li class="list-group-item text-wrap" style="font-size: 20px; font-weight:bold;right: -26px;height: 4em">B52 - Caja 3</li>
    <li class="list-group-item text-wrap" style="font-size: 20px; font-weight:bold;right: -26px;height: 4rem;margin-bottom: 20px">B57 - Caja 1</li>

</ul>
</div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>