<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos-DH</title>
        <!-- Bootstrap core CSS -->
        <!-- <link href="starter-template.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
  <%- include('./partials/header.ejs')%>
  
  <div class="title text-center py-5 "> 
    <h1>Turnos en vigencia</h1>

  <div class="row mx-5 mt-5 ">

    <!-- Tarjeta 1 -->

    <div class="col ml-5 lg-6 mb-5">

      <div class="card rounded shadow border border-3" style="width: 18rem;">
        <div class="card-body ">
          <h1>Turno</h1>
          <p class="card-text">
            Turno en marcha : <br>
            B54 - Caja 1

          </p>

        </div>

      </div>

    </div>

    <!-- Tarjeta 2 -->

    <div class="col ml-5 lg-6 mb-5">

      <div class="card rounded shadow border border-3" style="width: 18rem;">
        <div class="card-body">
          <h1>Turno</h1>
          <p class="card-text">
            Turno en marcha : <br>
            B54 - Caja 1

          </p>

        </div>

      </div>

    </div>

    <!-- Tarjeta 3 -->

    <div class="col ml-5 lg-6 mb-5">

      <div class="card rounded shadow border border-3" style="width: 18rem;">
        <div class="card-body">
          <h1>Turno</h1>
          <p class="card-text">
            Turno en marcha : <br>
            B54 - Caja 1

          </p>

        </div>

      </div>

    </div>
    <!-- Tarjeta 4 -->

    <div class="col ml-5 lg-6 mb-5">

      <div class="card rounded shadow border border-3" style="width: 18rem;">
        <div class="card-body ">
          <h1>Turno</h1>
          <p class="card-text">
            Turno en marcha : <br>
            B54 - Caja 1

          </p>

        </div>

      </div>

    </div>

    <div class="title text-center py-5 ">
      <h1>Solicitar Turno</h1>
    </div>
    <div class="card w-100 rounded shadow border border-3">
      <div class="card-body">
        <h5 class="card-title mt-3 mb-4">Solicite su turno</h5>
        
        <a href="/login/login" class="btn btn-primary mb-3">Solicitar Turno</a>
      </div>
    </div>

  </div>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>