<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/css/styles.css">
    <title>TurnosDH</title>
  </head>
  <body>
    <div class="box">

    <div>
<h1>Lista de Turnos</h1>
  </div>
    
<div class="boxlist">
    <ul class="list-group">
  <li class="list-group-item">A 12</li>
  <li class="list-group-item">B 99</li>
  <li class="list-group-item">C 01</li>
  <li class="list-group-item">A 12</li>
  <li class="list-group-item">C 02</li>
    </ul>
</div>

</div>
  
  

  </body>
</html>
</head>
<body>
    
</body>
</html>