<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
     <link rel="stylesheet" href="/css/styless.css">
    <title>TurnosDH</title>
    <%- include('./partials/header.ejs')%>
  </head>
  
    <body>
       


 <div class="contents">

  <img src="/img/paisajeve.jpg" height="700px" width="300px" alt="">

<form class="box" action="listado" method="POST" enctype="application/x-www-form-urlencoded">

  <h2>Seleccione su Turno</h2>

 <% if (locals && locals.mensajeError) { %>
 <% for ( let error in mensajeError ) { %>
                                <p class="error-msg">
                                    <%= mensajeError[errors].msg %>
                                </p>
                                <% } %>
                              <% } %>
 
<div>
  <input type="radio" id="opcion-1" name="opciones" value="opcion-1" checked>
  <label for="opcion-1">Servicio Tecnico</label>
</div>
<div>
  <input type="radio" id="opcion-2" name="opciones" value="opcion-2">
  <label for="opcion-2">Electricidad</label>
</div>
<div>
  <input type="radio" id="opcion-3" name="opciones" value="opcion-3">
  <label for="opcion-3">Carpinteria</label>
</div>

 <button class="button-edit" type="submit">Insertar</button>

</form>

 <img src="/img/paisajeve.webp" height="700px" width="300px" alt="">

 </div>

<footer>
<h1></h1>
</footer>

<script src="/js/buttom.js"></script>

  </body>

</html>