<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/css/styles.css">
    <title>TurnosDH</title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    

    <div>
<h1>Lista de Turnos</h1>
  </div>
   <div class="boxlist">
    <% for( let i = 0; i < caja.length; i++ ) { %>
                    <ul class="list-group">                    
                            <li class="list-group-item"><%= caja[i].box %>
                            <%= caja[i].code %></li>
                    </ul>                                           
                <% } %>
   </div> 
 

<form>
 <h2>Crear Turno</h2> 
 <label>BOX</label>
 <input type="text">
 <label>CODIGO</label>
 <input type="text">
 <button type="submit">Insertar</button>
</form>


</div>
  
  

  </body>
</html>
</head>
<body>
    
</body>
</html>