<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TurnosDH</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/style.css">
        <style>


        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    
    <%- include('./partials/header.ejs')%>
        <div class="container w-75 mt-5 rounded shadow border border-3 ">

            <div class="row align-items-stretch " style="background-color: #41416c">
                <div class="col bg d-none col-md-8 col-lg-6 col-xl-6 rounded ">

                </div>

                <div class="col p-5 rounded-end ">
                    <div class="text-primary">

                    </div>

                    <h2 class="fw-bold text-center pt-5 mb-5 " style="color: white">Inicia Sesion</h2>

                    <!-- LOGIN -->
                    <form action="/login/login" method="POST">
                        <div class="mb-3">
                          <label for="usuario" class="form-label fw-bold" style="color: black;">Email</label>
                          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required class="username">
                          <span></span>
                          <% if (locals.errors && errors.userEmail){ %>
                            <div class="text-error">
                                <%= errors.userEmail.msg %>
                            </div>
                      <%  } %> 
                          <div id="emailHelp" class="form-text">No compartiremos tu email con nadie.</div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label fw-bold" style="color: black;">Contraseña</label>
                          <input type="password" class="form-control" name="password" id="password" placeholder="">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1" style="color: black;">Mantenerme conectado</label>
                        </div>
                        <input type="submit" value="Iniciar Sesion" class="btn btn-primary"></input>
                      </form>

                    <!-- <hr class="border border-white opacity-75">
                    <form action="#">

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión como administrador</button>
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" name="connected" class="form-check-input" id="">
                            <label for="connected" class="form-check-label" style=" color: white;  ">Mantenerme
                                Conectado</label>
                        </div>

                    </form> -->
                </div>
            </div>

        </div>

        </div>
        <script type="text/javascript" src="/js/loginValidation.js"> </script>
</body>

</html>