<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No funciona</title>
   <link rel="stylesheet" href="/css/styless.css">
</head>
<body>

  <section class="not-found">
    
    <h1 class="title-not-found">
    404
    </h1>
     <h1 class="subtitle-not-found">
    ERROR
    </h1>
  <h3>
    Volver a la pagina principal
  </h3>
  <button class="buttom-not-found"> <a href="/">Vista de Turnos</a></button>
  </section>
 
</body>
</html>