<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--titulo de la pagina-->
    <title>TurnosDH </title>

    <!-- Bootstrap core CSS -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    
   
      <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-m10-10">
                    <!--muestra los 3 ultimos turnos-->
                    <h3>Turnos solicitados</h3>
                    <h3>Turnos solicitados</h3>
                    <h3>Turnos solicitados</h3>
                </div>
            </div>
        </div>
    </header>
   
    
</body>
</html>
