
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista de turnos</title>
</head>
<body>
  <%- include('./partials/header.ejs')%>
  <table class="table table-striped">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Turnos Actuales</th>
        
        <th scope="col">Box</th>
        <th scope="col">Codigo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        
        <td>01</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row"></th>
        
        <td>02</td>
        <td>B</td>
      </tr>
      <tr>
        
      </tr>
    </tbody>
  </table>
</table>
</body>
</html>
