<footer>
    
  <a href="https://github.com/vegaswalter"  target="_blank"  rel="noopener noreferrer">
    <button>
      <span class="icon"><i class="bi bi-github"></i></span>
    </button>
  </a>   
 
    <a href="https://www.linkedin.com/in/walter-damian-vegas-rodriguez-270342184/"  target="_blank"  rel="noopener noreferrer">
    <button>
      <span class="icon"><i class="bi bi-linkedin"></i></i></span>
    </button>
  </a>   
 
</footer>