<head>

  <link rel="icon" type="image/png" href="/img/entradas.png">
  
</head>

<header>
<h1 class="titulo"></h1>

<h1 class="titulo">TURNOS DH</h1>

<button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>

<nav id="nav" class="nav"> 

  <button id="cerrar"><i class="bi bi-x"></i></button>

  <ul class="nav-list">
   <li>
       <a href="/">Vista de Turnos</a>
  </li>
   <li >
       <a  href="/turnos/crear">Crear Turno</a>
  </li>
  <li >
       <a  href="/turnos/admin">Dashboard</a>
  </li>
  </ul>

</nav>

</header>

<script src="/js/main.js"></script>